.quiz{
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.quiz h1{
  margin-left: 10px;
  color: aliceblue;
}